@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
            <strong>Deshacerte de estos datos eliminara por completo tu cuenta, esta accion no puede ser revertida.</strong>
        </p>
        <form asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-default" type="submit">Descargar</button>
        </form>
        <p>
            <a asp-page="DeletePersonalData" class="btn btn-default">Eliminar</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}